@import '../../styles/settings/theme.scss';


.normal {
  position: relative;
  background: transparent;
  border: 1px solid $brand-fountain-green;
  color: $brand-fountain-green;
  padding: 1em 1.5em;
  z-index: 1;
  margin-top: 1em;

  &:after {
    content: ' ';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $brand-fountain-green;
    transition: width 0.3s;
  }

  &:hover, &:active {
    color: white;

    &:after {
      width: 100%;
    }
  }
}

.transparent {
  padding: 1em;
  width: 100%;
  background: transparent;
  color: white;
}


.uppercase {
  text-transform: uppercase;
}

.centered {
  text-align: center;
}

.wide {
  width: 100%;
  display: block;
}
