// Theme colors.

$brand-fountain-green: #56B8BA;
$brand-fountain-green-light: #9ed6d8;
$text-color: #333333;
$box-shadow: 0 45px 12px -35px #9e9e9e;

$gradient-fountain-green: linear-gradient(
	to right,
	$brand-fountain-green,
	$brand-fountain-green-light
);
